DEBUG=True
SECRET_KEY=your_django_secret_key_here
ALLOWED_HOSTS=127.0.0.1,localhost,yourname.pythonanywhere.com,www.yourdomain.com
DATABASE_URL=mysql://yourdbuser:yourpassword@yourname.mysql.pythonanywhere-services.com:3306/yourname$default

# Stripe API Keys
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here